/*
 H*
 */

h1 {
    font-size: 2.4em;
    font-weight: lighter;
    line-height: 1.1em;
}

h2 {
    font-size: 1.8em;
    font-weight: lighter;
    line-height: 1.1em;
}

h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: bold;
}

h4 {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: bold;
}

/*
 p
 */

p.explainer {
    line-height: 1.4em;
    font-size: 1.2em;
}

/*
 Page
 */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

pre {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
}

html {
    height: 100vh;
}

/*
 Global
 */

.copy {
    cursor: copy;
}

.button {
    cursor: pointer;
    white-space: nowrap;
}

a, .link {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    text-decoration: underline;
    text-decoration-color:  var(--hover-link-color);
    text-decoration-thickness: 0.2em;
}

a.light {
    color: var(--light-link-color);
}

a.light:hover {
    color: var(--light-hover-link-color);
}

/*
 App
 */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding: 0;
    height: inherit;
}